body {
  background-color: #f5f5f7;
}

.movie-card {
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 30px;
  height: 100%;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.movie-poster {
  height: 250px;
  background-color: #dfe6e9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.movie-poster img {
  width: 100%;
  padding: 30px;

  height: 100%;
  object-fit: cover;
}

.movie-poster-placeholder {
  font-size: 3rem;
  color: #b2bec3;
}

.movie-info {
  padding: 15px;
}

.movie-title {
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-details {
  color: #666;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.movie-year-genre {
  color: #666;
}

.movie-rating {
  color: #f39c12;
}

.movie-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

.movie-card:hover .movie-actions {
  display: block;
}

.btn-action {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-action:hover {
  transform: scale(1.1);
  background-color: white;
}