
.charts canvas{
    max-width: 100%;
    height: auto;
    max-height: 300px;
}

.dashboard-container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ajustar el diseño para pantallas pequeñas */
@media (max-width: 768px) {
    .dashboard-content {
      flex-direction: column; /* Cambia a diseño vertical */
    }
    .user-info, .charts {
      flex: none; /* Elimina el flex para que ocupen el 100% */
      width: 100%; /* Asegúrate de que ocupen todo el ancho */
      margin-bottom: 20px; /* Espacio entre los elementos */
    }
}

.dashboard-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #202068;
}

.dashboard-content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.user-info {
  flex: 1;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.user-info p {
  font-size: 16px;
  margin: 5px 0;
}

.charts {
  flex: 2;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.charts h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

